.buildResumeHomePageButton {
    padding:15px 30px;
    border: unset;
    border-radius: 14px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 800;
    font-size: 16px;
    font-family: "Open Sans";
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
  }
  .buildResumeHomePageButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #2475b0;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }
  
  .buildResumeHomePageButton:hover {
    color: #e8e8e8;
  }
  
  .buildResumeHomePageButton:hover::before {
    width: 100%;
  }
  
  